<style>
  #navbar.uk-navbar-container {
    background: #222831;
    height: 80px;
  }
</style>

<nav id="navbar" class="uk-navbar-container navbar" uk-navbar>
  <div class="uk-navbar-left">
    <a id="logoText"class="uk-navbar-item uk-logo uk-text-large text-white" href="/">GhPort</a>
  </div>
  {{#if this.username}}
  <div class="uk-navbar-right">
    <div class="uk-inline">
      <div class="uk-margin-right profile-image " ></div>
      <div uk-dropdown="mode: hover; pos: bottom-right">
        <ul class="uk-nav uk-dropdown-nav">
          <li><a href="{{this.username}}" target="_BLANK">View Portfolio</a></li>
          <li><a href="/api/logout">Logout</a></li>
          {{#ifEq this.role "admin"}} 
            <li><a href="/dashboard/admin">Admin</a></li>
          {{/ifEq}}
        </ul>
      </div>
    </div>
  </div>
  {{/if}}
</nav>