    {{> navbar}}
    <br>
    <div class="uk-section uk-section-default" style="padding: 0;">
      <div class="uk-container">
          <h3>About the app</h3>
  
          <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
              <div>
                  <p>Create your own portfolio website displaying GitHub repos.</p>
              </div>
          </div>
      </div>
    </div>
    <br>
    <!-- style="width: 7em;" class="uk-align-center" -->
    {{#unless user}}
      <a href="/login"class="uk-button uk-button-primary uk-align-center" style="width: 9em;">Login</a>
      <a href="/signup"class="uk-button uk-button-primary uk-align-center" style="width: 9em;">Sign Up</a>
    {{else}}
      <a href="/dashboard"class="uk-button uk-button-primary uk-align-center" id="startBtn" style="width: 9em;">Start</a>
    {{/unless}}
    <div class="uk-section uk-section-default">
      <div class="uk-container">

          <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
              <div>
                <p>This application is for a developer that has a GitHub account and wants create a portfolio website from his selected repos.
                </p>
              </div>
              <div>
                  <p>After login you will able to select choices of layouts and themes!</p>
              </div>
              <div>
                  <p>Add about me description and choose your favorite repos that you'd like to display on you website.</p>
              </div>
          </div>
      </div>
    </div>