    

    <style>
      .jumbotron {
        height: 80vh;
        min-width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: url("https://images.unsplash.com/photo-1555099962-4199c345e5dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
        background-size: cover;
        background-position: right;
        
      }

      .jumbotron h1 {
        font-size: 64px;
      }

      .jumbotron-content h1, a {
        color: white;
        text-shadow: 2px 2px 5px rgba(0,0,0, .5);
      }

      .jumbotron-content p {
        color: white;
        text-shadow: 2px 2px 5px rgba(0,0,0, .5);
      }

      .jumbotron .jumbotron-content {
        margin-left: 100px;
      }

      .login-button {
        position: absolute;
        right: 50px;
        top: 10px;
        font-size: 36px;
      }
      .hr-partial {
        width: 50px;
      }


      main {
        padding: 50px;
        color: #222831;
      }

      @media only screen and (max-width: 959px) {
         .card-image {
          display: none;
          max-width: 80%;
          margin: 0 auto;

        }
      }


    </style>

    <div class="jumbotron">
      <div class="jumbotron-content">
        <h1>GitHub Portfolio Builder</h1>
        <p>An app built for developers, easily share your work from github with <br> out dealing with the headache of web development.</p>
        <a href="/signup" class="uk-button uk-button-primary">Get Started</a>
      </div>
      <a class="login-button" href="/login">Login</a>
    </div>

    <main>
      <div class="uk-child-width-1-1 step" uk-grid style="max-width: 1200px; margin: 0 auto;">
        <div class="uk-child-width-1-2@m uk-margin-large-bottom" uk-grid>
          <div>
            <h1>Enter Your GitHub Username</h1>
            <hr class="hr-partial">
            <p>Enter your github username so that the portfolio builder knows which github account to grab repos from.</p>  
          </div>
          <div class="card-image"></div>
        </div>

        <div class="uk-child-width-1-2@m uk-margin-large-bottom step" uk-grid>
          <div class="card-image"></div>
          <div>
            <h1>Choose The Repos To Include</h1>
            <hr class="hr-partial">
            <p>Select which repos that you will want shown on your portfolio page.</p>  
          </div>
        </div>

        <div class="uk-child-width-1-2@m uk-margin-large-bottom step" uk-grid>
          <div>
            <h1>Choose Theme And Layout</h1>
            <hr class="hr-partial">
            <p>Choose the theme and layout that you want to use for your portfolio page.</p>  
          </div>
          <div class="card-image"></div>
        </div>

        <div class="uk-child-width-1-2@m uk-margin-large-bottom step" uk-grid>
          <div class="card-image"></div>
          <div>
            <h1>Update About Me And Profile Image</h1>
            <hr class="hr-partial">
            <p>Update your about me and profile image or leave the default which is your GitHub about me and profile image.</p>  
          </div>
        </div>

        <div class="uk-child-width-1-2@m uk-margin-large-bottom step" uk-grid>
          <div>
            <h1>Share Your Portfolio With The World</h1>
            <hr class="hr-partial">
            <p>Share the link to your new github portfolio page with the world!</p>  
          </div>
          <div class="card-image"></div>
        </div>
      </div>
    </main>