    {{> navbar}}

    <div class="uk-section uk-section-default" style="padding: 0;">
      <div class="uk-container">
          <h3>About the app</h3>
  
          <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
              <div>
                  <p>Quick description about what the app is about.</p>
              </div>
          </div>
      </div>
    </div>
    <br>
    <!-- style="width: 7em;" class="uk-align-center" -->
      <a href="/login"class="uk-button uk-button-primary uk-align-center" style="width: 7em;">Login</a>
      <a href="/signup"class="uk-button uk-button-primary uk-align-center" style="width: 9em;">Sign Up</a>
    
    <div class="uk-section uk-section-default">
      <div class="uk-container">

          <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
              <div>
                  <p>More in depth of what the app is about and a little bit of how to use it.</p>
              </div>
              <div>
                  <p>More in depth of what the app is about and a little bit of how to use it.</p>
              </div>
              <div>
                  <p>More in depth of what the app is about and a little bit of how to use it.</p>
              </div>
          </div>
      </div>
    </div>